# Ignore composer stuff
/vendor/

# Ignore concrete5 stuff
/public/concrete
/public/application/files

# Ignore composer packages
/public/packages/concrete_cms_theme
/public/packages/migration_tool

# Ignore developer stuff
/.idea
/node_modules
/.env
/public/mix-manifest.json
/phpunit.xml
/build
/.phpunit.*
.DS_Store
