.twb-container {
    display: flex;
    flex-direction: column;
    font-family: Poppins, sans-serif;
}

.twb-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.twb-header > span {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
    color: #047DDD;
}

.twb-container .btn-twb {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;

    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    border-radius: 50px;

    font-family: Noto Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #8a8a8e !important;
    transition: color .25s ease-in-out, border-color .25s ease-in-out;
    line-height: 10px;
}

.btn-twb > i {
    margin-left: 1rem;
    margin-top: 2px;
}

.btn-twb:hover {
    border-color: #1a1a1a;
    color: #19191A !important;
}

.twb-posts {
    display: flex;
    margin-right: -20px;
}

.twb-post {
    min-width: 200px;
    height: 421px;
    background: white;
    margin-right: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.twb-post .twb-post-title {
    margin: 12px 12px 0 12px;
    max-height: 180px;
}

.twb-post .twb-post-title > span {
    font-weight: normal;
    font-size: 26px;
    color: #047DDD;
    line-height: 164%;
    margin-bottom: 0;
}

.twb-post .twb-post-time {
    color: #19191A;
    margin: 24px 12px;
    font-size: 12px;
    display: inline-block;
}

.twb-post .twb-post-description {
    margin: 0 12px 12px 12px;
    overflow: hidden;
}

.twb-post-description > span {
    overflow: hidden;
    word-wrap: break-word;
    color: #19191A;
    font-family: Noto Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 164%;
}

.twb-post > .twb-post-action {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    flex: 1;
}

.twb-post > .twb-post-action .btn-twb {
    color: #047DDD !important;
    margin: 12px;
    width: auto;
    line-height: 164%;
}

@media (max-width: 1400px) and (min-width: 576px) {
    .twb-posts .twb-post:last-child {
        display: none;
    }
    .twb-post .twb-post:nth-child(2) {
        margin-right: 0 !important;
    }
}

@media (max-width: 575px) {
    .twb-header {
        padding: 0 24px;
        margin-bottom: 24px;
    }
    .twb-header .btn-twb {
        display: none;
    }
    .twb-posts {
        flex-direction: column;
        padding: 0 24px;
    }
    .twb-post {
        margin-bottom: 24px;
        height: auto;
    }

    .twb-post:last-child {
        margin-right: 20px;
        margin-bottom: 0;
    }

    .twb-post-description {
        display: none;
    }
}